

  <main>
    <h3>Add A Benchmark</h3>

    <p class="add-benchmark-p">Boulder</p>
    <div class="v-5-sections">
      <h1>V</h1>
      <select class="benchmark-select">
          {{#select status}}
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        {{/select}}
      </select>
    </div>

    <p class="add-benchmark-p">Route</p>
    <div class="v-5-sections">
      <h1>5.</h1>
      <select class="benchmark-select">
          {{#select status}}
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        {{/select}}
      </select>
      <select class="benchmark-select">
        {{#select status}}
        <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option>
        {{/select}}
      </select>
    </div>

   <div><a href="/homepage" >
   <button type="submit" id="benchmark" class="benchmark-btn">SAVE YOUR BENCHMARK</button>
            </a>
      <i class="fas fa-bookmark save-icon"></i>
      </div>
  </main>
