<header>
    <img src="../images/rockfit-header.png" alt="Top border">
</header>

    <main class="login-main">
        <h1>ROCK<em>fit</em></h1>
        <form class="login-form" >
            <h4>Login</h4>
            <div>
                <label for="username-login"></label>
                <input type="text" placeholder="username" class="signin-input" id="username-login" />
            </div>
            <div>
                <label for="password-login"></label>
                <input type="password" placeholder="password" class="signin-input" id="password-login" />
            </div>
            <div>
                <button type="submit" id="login" class="login-btn">Login</button>
            </div>
            <div>
                <button type="submit" id="login-google" class="google-btn"><i class="fab fa-google"></i>Login With Google</button>
            </div>
            <a href="/signup" class="signup-instead">Sign Up Instead</a>
        </form>
    </main>
    
<footer>
    <img src="../images/rockfit-footer.png" alt="Bottom border">
</footer>
<script src="/js/login.js"></script>  
    
