<header>
    <img src="../images/rockfit-top-13.png" alt="Top border">
</header>

    <main class="login-main">
        <h1>ROCK<em>fit</em></h1>
        <!--added form action-->
        <form class="login-form" action="user/login" id="login" method="POST" >
            <h2>Login</h2>
            <div>
                <label for="username-login"></label>
                <input type="text" placeholder="username" id="username-login" />
            </div>
            <div>
                <label for="password-login"></label>
                <input type="text" placeholder="password" id="password-login" />
            </div>
            <div>
                <button type="submit" value="login" class="login-btn">Login</button>
            </div>
            <a href="/signup" class="signup-instead">Sign Up Instead</a>
        </form>
    </main>
    
<footer>
    <img src="../images/RockFit Project-14.png" alt="Bottom border">
</footer>
<script src="/js/login.js"></script>  
    
