<main>
    <form class="search-input-container">
      <div>
        <label for="search-users"></label>
        <input class="search-input" type="text" placeholder="Search a user to view their workouts!" id="search-users" />
      </div>
      <div>
        <button type="submit" id="search" class="search-btn">Search</button>
      </div>
    </form>
{{> search-form}}
</main>

    