 <main>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="Search a user to view their workouts!">
    </div>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>