    <header>
        <img src="../images/rockfit-top-13.png" alt="Top border">
    </header>

    <main class="signup-main">
        <h1>ROCK<em>fit</em></h1>
        <!--added acton-->
        <form class="signup-form">
            <h2>Signup</h2>
            <div>
                <label for="email-signup"></label>
                <input type="email" placeholder="email address" id="email-signup" />
            </div>
            <div>
                <label for="username-signup"></label>
                <input type="text" placeholder="username" id="username-signup" />
            </div>
            <div>
                <label for="password-signup"></label>
                <input type="text" placeholder="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" id="signup" class="signup-btn">Login</button>
            </div>
            <a href="/login" class="login-instead">Login Instead</a>
        </form>
    </main>

    <footer>
        <img src="../images/RockFit Project-14.png" alt="Bottom border">
    </footer>
    <script src="/js/signup.js"></script>
