    <header>
        <img src="../images/rockfit-top-13.png" alt="Top border">
    </header>

    <main class="login-main">
        <h1>ROCK<em>fit</em></h1>
        <div class="signup-form">
            <h6>Sign Up</h6>
            <input type="text" placeholder="email" id="email-signup">
            <input type="text" placeholder="username" id="username-signup">
            <input type="text" placeholder="password" id="password-signup">
            <div>
                <button type="submit" id="signup" class="signup-btn">Signup</button>
            </div>
            <a href="/login" class="login-instead">Login Instead</a>
            
        </div>
    </main>

    <footer>
        <img src="../images/RockFit Project-14.png" alt="Bottom border">
    </footer>
    <script src="/js/signup.js"></script>