<main>
    <h3>Add A Benchmark</h3>   

    <form id="update-benchmark-form" class="add-benchmark-section">
          <label class="add-benchmark-p">Boulder Grade (on V scale)</label>
          <input id="boulder-grade" class="boulder-grade" type="text" name="boulder-grade" />

          <label class="add-benchmark-p">Route Grade</label>
          <input id="route-grade" class="route-grade" type="text" name="route-grade" />

          <button type="submit" id="benchmark" class="benchmark-btn">SAVE YOUR BENCHMARK</button>
    </form>
    <script src="/js/update-benchmark.js"></script>
</main>