<main>
    <section class="workout-session">
      <div class="section-header">
        <div class="section-header-dashboard">
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <div class="session-content">
        <p>Category: <span class="session-span">Bouldering</span></p>
        <p>Time to complete: <span class="session-span">90 minutes</span></p>
        <p>Level of difficulty: <span class="session-span">Intermediate</span></p>
        
        <h4>{{Description}}</h4>
           <div class="body" id="session-description">
        <p><span class="session-span">Workout description here...</span></p>
          {{{body}}}
         </div>
           </div>
      </div>
      <a>
        <div class="delete-banner">
        <button class="btn btn-primary deleteAllButton">DELETE SESSION</button>
        </div>
      </a>
      <a>
        <div class="save-banner"> 
            <button class="update-session">
          <p> UPDATE SESSION</p></button>
        </div>
      </a>
    </section>
  </main>