

<main>
    
    <section class="workout-session">
        <h3>Add A Session</h3>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <div class="session-content">
        <p>Workout Type</p>
        <select>
        {{#select status}}
          <option value="stength">Strength</option>
          <option value="bouldering">Bouldering</option>
          <option value="routes">Routes</option>
          <option value="hangboard">Hangboard</option>
          <option value="campus">Campus</option>
          <option value="stretching">Stretching</option>
          {{/select}}
        </select>

        <p>Time to complete</p>
        <input class="add-session-input" type="text" placeholder="30 mins">

        <p>Level of difficulty</p>
        <select>
          {{#select status}}
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
          {{/select}}
        </select>
         <div class="entry">
       <h4>{{Description}}</h4>
           <div class="body" id="session-description">
          {{{body}}}
         </div>
           </div>
      <a>
        <div class="save-banner">
          <i class="fas fa-bookmark save-icon"></i>
          <p> SAVE YOUR SESSION</p>
        </div>
      </a>
    </section>
  </main>