html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(#333333, #000000);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header img {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}



footer {
    left: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
}

footer img {
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

  