html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(#333333, #000000);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

/* Login & Sign In Specifics */

header img {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    letter-spacing: 3px;
    font-weight: 500;
}

em {
    letter-spacing: normal;
}

h6 {
    font-weight: 400;
}

main {
    width: 80%;
    margin: auto;
    color: #ffffff;
}

.login-main {
    text-align: center;
}

input {
    text-align: center;
    border-radius: 8px;
    color: #333333;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid #23A349;
    outline: none;
}

input:hover {
    border-color: #ffffff;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: end;
    bottom: 0;
    position: absolute;
}

footer img {
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
}

/* Homescreen Specifics */

nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#23A349, #97C671);
    color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 3px;
}

.fa-lg:hover {
    color: #cccccc;
}

section {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
}

.section-header {
    background-color: #ffffff;
    color: #000000;
    padding: 0 7px;
}

.section-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;
}
.username {
    text-decoration: none;
    padding: 6px 0;
    color: black;
}

.section-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.section-body:hover {
    background: linear-gradient(#97C671,#23A349);
    text-shadow: 3px, 3px #000000;
}

/* Session View Specifics */

.session-content {
    text-align: center;
}

.session-span {
    font-weight: 300;
}

.save-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35px;
    background: linear-gradient(#97C671,#23A349);
    font-size: 15px;
}

.save-banner:hover {
    background: linear-gradient(#23A349, #97C671);
}

.save-icon {
    padding: 1px 4px 0 0;
}

/* Search Page Specifics */

.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    display: flex;
    align-self: center;
    min-width: 100%;
    margin-bottom: 30px;
    align-self: center;
}

/* User Dashboard Specifics */

.dashboard-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    -webkit-appearance: none;
    color: #ffffff;
    background: linear-gradient(#97C671,#23A349);
    border-radius: 5px;
    border: 2px solid #ffffff;
    outline: none;
    font-family: inherit;
    font-size: 10px;
    font-weight: 600;
    margin: 0 1px;
}

button:hover {
    background: linear-gradient(#23A349, #97C671);
}

h3 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 500;
}

.benchmark-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benchmark-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(to right,#23A349, #97C671);
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 10px;   
}

.section-header-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

/* Add Session Specifics */

select {
    /* -webkit-appearance: none; */
    outline: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 125px;
    font-family: inherit;
    font-weight: 400;
    padding-left: 3px;
    color: #c3c3c3;
    font-size: 12px;
}

.add-session-input {
    outline: none;
    border: none;
    border-radius: 5px;
    max-height: 11px;
    max-width: 111px;
    font-family: inherit;
    font-weight: 400;
    padding-left: 7px;
    color: #333333 !important;
    font-size: 12px;
    background-color: #ffffff;
    text-align: left;
    margin: 0;
}

::placeholder {
    color: #c3c3c3
}

.add-session-description {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    font-family: inherit;
    font-weight: 400;
    padding-left: 7px;
    color: #333333 !important;
    font-size: 12px;
    background-color: #ffffff;
    text-align: left;
    margin: 0 0 20px 0;
    resize: none;
}

/* Add Benchmark Specifics */

.add-benchmark-p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #4AB859;
    margin-bottom: 0;
}

.v-5-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.benchmark-select {
    max-width: 50px;
    margin: 0 2px;
}

.save-banner-benchmark {
    border: 1px solid #ffffff;
    margin-top: 25px;
}

.save-banner-benchmark:hover {
    background: linear-gradient(#23A349, #97C671);
}

/* View Workout Specifics */

.delete-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35px;
    background: linear-gradient(#c67171,#a32323);
    font-size: 15px;
}

.delete-banner:hover {
    background: linear-gradient(#a32323, #c67171);
}